body {
	/* Removes margin from top of page. */
	margin:0px 0px; 
	padding:0px;
	
	margin-left:auto; 
	margin-right:auto; 
	padding-top: 15px;
	
	/* Other body customisation */
	background: url(154.jpg) repeat;
	background-color: #EDEDED;
}

#container {
	/* This containing div controls the size of the content on the screen, and centers the content */
	width: 800px;
	margin-left:auto;
	margin-right:auto;
	
	/* this is used to make the columns appear the same height */
	overflow: hidden;
	
	/* Keeps the content above the footer */
	margin-bottom: 50px;
	
	border:1px solid black;
}

#menu_left {
	/* Background Colour */
	background-color: white;

	/* Customising Text */
	font-family: 'Italianno', cursive;
	text-decoration: none;
	color: #333333;
	font-size: 33px;
	text-align: center;
	
	/* Positioning in relation to other divs */
	width: 30%;
	float: left;
	padding-right: 0%;
	
	/* this is used to make the columns appear the same height */
	padding-bottom: 10000px;
	margin-bottom: -10000px;
}

#menu_left a:link {
	font-weight: normal;
	text-decoration: none;
	color: #333333;
}

#menu_left a:visited{
	font-weight: normal;
	text-decoration: none;
	color: #333333;
}
#menu_left a:hover {
	text-decoration: none;
	border-bottom:1px solid #737373;
	color: #333333;
}
#menu_left a:active{
	text-decoration: none;
	border-bottom:1px solid white;
	color: #333333;
}
#menu_left a.no-underline {
	text-decoration: none;
	border: 0 none;
}

#main {
	/* Background Colour */
	background-color: #800000;

	/* Customising Text */
	font-family:"Calibri";
	font-size:15px;
	color: white;
	text-align: left;
	
	/* Positioning in relation to other divs */
	width: 65%;
	float: right;
	padding-left: 5%;
	
	/* this is used to make the columns appear the same height */
	padding-bottom: 10000px;
	margin-bottom: -10000px;
	
	/* allows us to use absolute positioning for elements within main */
	position: relative;
}

#main h1 {
	/* Customising Text */
	font-family: 'Lovers Quarrel', cursive;
	font-size: 50px;
	font-weight: bold;
	text-align: center;
}

#main h2 {
	/* Customising Text */
	font-family: 'Italianno', cursive;
	font-size: 30px;
	font-weight: bold;
}

a img {
	/* Images within an <a href> won't have a border */
	border-style:none;
}
a:link {
	font-weight: bold;
	text-decoration: none;
	color: #999999;
}
a:visited{
	font-weight: bold;
	text-decoration: none;
	color: #999999;
}
a:hover {
	text-decoration: none;
	color: #EDFFFF;
	border-bottom:1px solid white;
}
a:active{
	text-decoration: none;
	color: #EDFFFF;
	border-bottom:1px solid yellow;
}
a.no-underline {
	text-decoration: none;
	border: 0 none;
}

.form_text {
	color: #777777;
	width: 180px;
}

.form_textarea {
	color: #777777;
	width: 180px;
	height: 150px;
	
	/* Various hacks to make area unresizable */
	min-width: 180px;
	max-width: 180px;
	min-height: 150px;
	max-height: 150px;
	resize: none;
}

.form_button {
	margin-top: 6px;

	border-top: 1px solid #96d1f8;
	background: #65a9d7;
	background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
	background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
	background: -moz-linear-gradient(top, #3e779d, #65a9d7);
	background: -ms-linear-gradient(top, #3e779d, #65a9d7);
	background: -o-linear-gradient(top, #3e779d, #65a9d7);
	padding: 5.5px 11px;
	-webkit-border-radius: 11px;
	-moz-border-radius: 11px;
	border-radius: 11px;
	-webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
	-moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
	box-shadow: rgba(0,0,0,1) 0 1px 0;
	text-shadow: rgba(0,0,0,.4) 0 1px 0;
	color: white;
	font-size: 19px;
	font-family: Georgia, Serif;
	text-decoration: none;
	vertical-align: middle;
}

.form_button:hover {
	border-top-color: #28597a;
	background: #28597a;
	color: #ccc;
	cursor: pointer;
}
   
.form_button:active {
	border-top-color: #1b435e;
	background: #1b435e;
}

#footer {
	/* Ensures the div displays beneath the menu and main divs */
	clear:both;
	
	/* Customising Text */
	font-family:"Calibri";
	font-size:15px;
	color: white;
	text-align: center;
	
	/* Appearance */
	position: fixed;
	z-index: 999;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 25px;
	background: url(bar.png) repeat-x;
	background-color: black;
}